/*=================================================================================*/
/*=================================================================================*/
/*==========================||---------------------------||========================*/
/*==========================|| DESIGNED BY  HOSSAM HILAL ||========================*/
/*==========================||---------------------------||========================*/
/*====================================||------||===================================*/
/*====================================|| 2021 ||===================================*/
/*====================================||------||===================================*/
/*=================================================================================*/
/*=================================================================================*/

:root {
    --mainColor: #ee3364;
    --secondaryColor: #283a5e;
    --bg: #2c3b48;
    --bgDark: #2f404d;
    --bgGradient: linear-gradient(175deg, #1b2834 0%, #394e5e 100%);
    --black: #151515;
    --white: #ffffff;
    --blue: #0089bc;
    --green: #2e7a79;
    --grey: #617071;
}


/* fonts*/
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap');

/* Init */
body {
    font-family: 'Mulish', sans-serif;
    overflow-x: hidden;
    direction: ltr;
    text-align: left;
    background: var(--bg);
    color: var(--white);
}

.stopScroll {
    overflow: hidden;
}

.secPadding {
    padding: 80px 0;
}

p {
    color: var(--white);
    margin: 0;
}

a {
    text-decoration: none !important;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

button:focus,
button:active,
input:active,
input:focus,
select:active,
select:focus,
textarea:focus,
textarea:active {
    box-shadow: none;
    outline: 0;
}

/*==========================||---------------------------||========================*/
/*==========================||         MAIN BUTTONS      ||========================*/
/*==========================||---------------------------||========================*/

.mainBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    border: 0;
    background: var(--mainColor);
    font-size: 16px;
    font-weight: 600;
    color: var(--white);
    overflow: hidden;
    position: relative;
    cursor: pointer;
    border-radius: 5px;
}

.mainBtn::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--white);
    transform: scaleX(0);
    transform-origin: 50%;
    transition: transform .3s ease-out;
}

.mainBtn:hover::before {
    transform: scaleX(1);
}

.mainBtn span {
    position: relative;
    z-index: 1;
}

.mainBtn:hover span {
    color: var(--mainColor);
}

button:active,
button:hover,
button:focus {
    box-shadow: none;
    outline: 0;
}


/*==========================||---------------------------||========================*/
/*==========================||           HEADER          ||========================*/
/*==========================||---------------------------||========================*/

header {
    padding: 40px 0;
}

.headerNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 70px;
}

.logo {
    display: block;
    max-width: 150px;
}

.social {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social a {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline-end: 5px;
    color: var(--white);
    font-size: 20px;
    background: var(--mainColor);
    border-radius: 50%;
    transition: all .4s ease-in-out;
}

.social a:hover {
    color: var(--mainColor);
    background: var(--white);
    transform: translateY(-5px);
}

.headerData .row {
    align-items: center;
}

.headerData h1 {
    font-weight: bold;
    font-size: 56px;
    text-transform: capitalize;
    margin-bottom: 25px;
}

.headerData h3 {
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 10px;
}

.headerData p {
    font-size: 20px;
    opacity: .5;
}

.vectors {
    display: flex;
    align-items: center;
    justify-content: center;
}

.vectors img {
    max-width: 500px;
}

.headerData h1 span {
    display: inline-block;
    opacity: 0;
    transform: translate(0, -100px) rotate(360deg) scale(0);
    animation: revolveDrop .3s forwards;
}

@keyframes revolveDrop {
    30% {
        transform: translate(0, -50px) rotate(180deg) scale(1);
    }

    60% {
        transform: translate(0, 20px) scale(.8) rotate(0deg);
    }

    100% {
        transform: translate(0) scale(1) rotate(0deg);
        opacity: 1;
    }
}

@media screen and (max-width:768px) {
    header {
        padding: 20px 0;
    }
    
    .headerNav {
        margin-bottom: 40px;
    }
    
    .social a {
        width: 25px;
        height: 25px;
        font-size: 13px;
    }
    
    .logo {
        max-width: 110px;
    }
    
    .headerData h1 {
        font-size: 30px;
    }
    
    .headerData h3 {
        font-size: 18px;
    }
    
    .headerData p {
        font-size: 15px;
    }
    
    .vectors img {
        max-width: 300px;
        margin-top: 30px;
    }
}



/*==========================||---------------------------||========================*/
/*==========================||            About          ||========================*/
/*==========================||---------------------------||========================*/

.bgDark {
    background: var(--bg);
    background: var(--bgGradient);
}

.aboutContent {
    padding: 0 5%;
}

.about h2 {
    font-size: 45px;
    line-height: 50px;
    font-weight: 700;
    margin-bottom: 20px;
}

.about p {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 20px;
}

.about li {
    font-size: 18px;
    line-height: 30px;
    position: relative;
    margin-bottom: 8px;
}

.about li::before {
    content: '\f0da';
    font: normal normal normal 14px/1 FontAwesome;
    margin-inline-end: 5px;
    color: var(--mainColor);
}

@media screen and (max-width:768px) {
    .secPadding {
        padding: 30px 0;
    }
    
    .aboutVector {
        margin-bottom: 20px;
    }
    
    .aboutContent {
        padding: 0;
    }
    
    .about h2 {
        font-size: 30px;
        margin-bottom: 5px;
    }
    
    .about p {
        font-size: 15px;
        line-height: 25px;
        margin-bottom: 10px;
    }
    
    .about li {
        font-size: 15px;
        line-height: 25px;
    }
}

/*==========================||---------------------------||========================*/
/*==========================||           Services        ||========================*/
/*==========================||---------------------------||========================*/

.services .col-12:first-of-type .service {
    background: var(--blue);
}

.services .col-12:nth-child(2) .service {
    background: var(--green);
}

.services .col-12:nth-child(3) .service {
    background: var(--grey);
}

.service {
    position: relative;
    margin-bottom: 15px;
}

.serviceVector {
    height: 300px;
    overflow: hidden;
}

.serviceVector img {
    width: 100%;
    height: 100%;
    transition: all .7s ease-in-out;
}

.serviceBody {
    padding: 8%;
}

.service h2 {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 15px;
}

.service p {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 0;
}

.service:hover .serviceVector img {
    transform: scale(1.1);
}

@media screen and (max-width:768px) {
    .serviceVector {
        height: 200px;
    }
    
    .serviceBody {
        padding: 15px;
    }
    
    .service h2 {
        font-size: 22px;
        margin-bottom: 3px;
    }
    
    .service p {
        font-size: 15px;
        line-height: 25px;
    }    
}

/*==========================||---------------------------||========================*/
/*==========================||         Portfolio         ||========================*/
/*==========================||---------------------------||========================*/

.portfolioBox {
    position: relative;
    margin-bottom: 30px;
    width: 100%;
    height: 300px;
}

.portfolioVector {
    width: 100%;
    height: 100%;
}

.portfolioVector img {
    width: 100%;
    height: 100%;
}

.portfolioHover {
    position: absolute;
    top: 15px;
    left: 15px;
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    background: rgba(255, 255, 255, .9);
    border-radius: 5px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: all .6s ease-in-out;
}

.portfolioBox:hover .portfolioHover {
    opacity: 1;
    visibility: visible;
}

.portfolioBox h3,
.portfolioBox h5 {
    color: var(--secondaryColor);
    cursor: pointer;
    transition: all .6s ease-in-out;
}

.portfolioBox h3 {
    font-size: 25px;
    margin-bottom: 15px;
    transform: translateY(-40px);
}

.portfolioBox h5 {
    font-size: 15px;
    margin: 0;
    transform: translateY(40px);
    text-transform: uppercase;
}

.portfolioBox h3:hover,
.portfolioBox h5:hover {
    color: var(--mainColor);
}

.portfolioBox:hover h3,
.portfolioBox:hover h5 {
    transform: translateY(0);
}

@media screen and (max-width:768px) {
    .portfolioBox {
        height: 250px;
        margin-bottom: 15px;
    }
    
    .portfolioBox h3 {
        font-size: 18px;
    }
    
    .portfolioBox h5 {
        font-size: 13px;
    }
}

/*==========================||---------------------------||========================*/
/*==========================||           Contact         ||========================*/
/*==========================||---------------------------||========================*/

.contact h2 {
    font-size: 30px;
    margin-bottom: 25px;
}

.contact p {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 20px;
}

.contact li {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.contact a {
    color: inherit;
}

.contact a:hover {
    color: var(--mainColor);
}

.contact i {
    font-size: 23px;
    width: 30px;
    margin-inline-end: 10px;
    color: var(--mainColor);
}

.field {
    font-size: 15px;
    color: var(--text);
    margin-bottom: 30px;
    height: 50px;
    position: relative;
    overflow: hidden;
}

.field::after {
    content: "";
    position: absolute;
    bottom: 1px;
    left: 5px;
    width: 0;
    background: var(--mainColor);
    display: block;
    height: 2px;
    border-radius: 5px;
}

.field.focused::after {
    width: calc(100% - 10px);
    transition: all .5s ease-in-out;
}

.field label {
    position: absolute;
    top: 12px;
    left: 15px;
    color: var(--grey);
    margin: 0;
    font-size: 15px;
    text-transform: capitalize;
    transition: all .5s ease-in-out;
}

.field.required label::after {
    content: '*';
}

.field.focused label {
    transform: translateY(-40px);
}

.fieldInput {
    border: 0;
    border-radius: 5px;
    background-color: var(--white);
    height: 50px;
    padding: 0px 15px;
    width: 100%;
}

.textareaField {
    height: 160px;
}

.textareaField textarea {
    padding: 15px;
    height: 160px;
    resize: none;
}

.fieldInput:focus::placeholder {
    opacity: 0;
    transition: all .5s ease-in-out;
}

@media screen and (max-width:768px) {
    .contact h2 {
        font-size: 25px;
        margin-bottom: 10px;
    }
    
    .contact p {
        font-size: 15px;
    }
    
    .contact li {
        font-size: 15px;
    }
    
    .contact ul {
        margin-bottom: 30px;
    }
    
    .field {
        margin-bottom: 18px;
    }
}

/*==========================||---------------------------||========================*/
/*==========================||        Testimonials       ||========================*/
/*==========================||---------------------------||========================*/

footer {
    padding: 60px 0 20px;
    background: var(--black);
}

footer .logo {
    margin-bottom: 20px;
}

footer p {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 20px;
    color: var(--grey);
}

footer h2 {
    font-size: 23px;
    line-height: 30px;
    margin-bottom: 30px;
    position: relative;
}

footer h2::after {
    content: '';
    width: 5px;
    height: 5px;
    background: var(--mainColor);
    border-radius: 5px;
    display: inline-block;
}

.instagram {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 15px;
}

.instagram a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(33.33% - 3px);
    height: 110px;
    border-radius: 5px;
    margin-bottom: 5px;
    overflow: hidden;
}

.instagram img {
    width: 100%;
    height: 100%;
}

footer .mainBtn {
    font-size: 14px;
    text-transform: capitalize;
    height: 40px;
    margin: 0 auto 20px;
}

footer .mainBtn i {
    margin-inline-end: 10px;
}

.footerContact {
    margin-bottom: 30px;
}

.footerContact li {
    display: flex;
    font-size: 16px;
    margin-bottom: 10px;
}

.footerContact label {
    margin: 0;
    color: var(--grey);
    margin-inline-end: 10px;
    font-size: 17px;
    font-weight: 500;
}

.footerContact a {
    color: inherit;
}

footer .social {
    justify-content: flex-start;
}

footer .social a {
    width: 35px;
    height: 35px;
    margin-inline-end: 8px;
    font-size: 15px;
}

.copyright {
    margin: 50px 0 0 0;
    padding: 20px 0 0 0;
    text-align: center;
    position: relative;
}

.copyright::before {
    content: '';
    background: var(--grey);
    width: 70%;
    height: 1px;
    position: absolute;
    top: 0;
    left: 15%;
    opacity: .3;
}

.copyright p {
    font-size: 17px;
    font-weight: 500;
    margin: 0;
}

.copyright a {
    color: var(--white);
}

.copyright a:hover {
    color: var(--mainColor);
}

@media screen and (max-width:768px) {
    footer {
        padding: 30px 0 20px;
    }
    
    footer p {
        font-size: 15px;
        line-height: 25px;
    }
    
    footer h2 {
        margin: 15px 0;
    }
    
    .footerContact li {
        font-size: 15px;
    }
    
    .footerContact label {
        font-size: 15px;
    }

    .copyright p {
        font-size: 15px;
    }
}

/*==========================||---------------------------||========================*/
/*==========================||            Twitter        ||========================*/
/*==========================||---------------------------||========================*/


::-webkit-scrollbar {
    width: 0;
    display: none;
}

::-webkit-scrollbar-track {
    width: 0;
    display: none;
}

::-webkit-scrollbar-thumb {
    width: 0;
    display: none;
}

::-webkit-scrollbar-thumb:hover {
    width: 0;
    display: none;
}

.twiiterView {
    max-height: 300px;
    overflow: auto;
}


/*==========================||---------------------------||========================*/
/*==========================||        Scroll To Top      ||========================*/
/*==========================||---------------------------||========================*/

.scrollTop {
    position: fixed;
    bottom: 25px;
    right: 25px;
    width: 50px;
    height: 50px;
    background: var(--mainColor);
    border-radius: 50%;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    -webkit-transition: all .4s ease 0s;
    -ms-transition: all .4s ease 0s;
    transition: all .4s ease 0s;
    z-index: 2;
    opacity: 0; 
    visibility: hidden;
    transform: translateY(50px);
    cursor: pointer;
}

.scrollTop.show {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    animation: pulse 2s infinite;
}

.scrollTop:hover {
    background: var(--white);
    color: var(--mainColor);
    animation: pulseWhite 2s infinite;
}

@keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 var(--mainColor);
    }

    70% {
        -webkit-box-shadow: 0 0 0 20px transparent
    }

    100% {
        -webkit-box-shadow: 0 0 0 0 transparent
    }
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 var(--mainColor);
    }

    70% {
        -webkit-box-shadow: 0 0 0 20px transparent
    }

    100% {
        -webkit-box-shadow: 0 0 0 0 transparent
    }
}

@keyframes pulseWhite {
    0% {
        -webkit-box-shadow: 0 0 0 0 var(--white);
    }

    70% {
        -webkit-box-shadow: 0 0 0 20px transparent
    }

    100% {
        -webkit-box-shadow: 0 0 0 0 transparent
    }
}

@-webkit-keyframes pulseWhite {
    0% {
        -webkit-box-shadow: 0 0 0 0 var(--white);
    }

    70% {
        -webkit-box-shadow: 0 0 0 20px transparent
    }

    100% {
        -webkit-box-shadow: 0 0 0 0 transparent
    }
}

@media screen and (max-width:768px) {
    .scrollTop {
        width: 35px;
        height: 35px;
        font-size: 12px;
    }
}

/*==========================||---------------------------||========================*/
/*==========================||            Loader        ||========================*/
/*==========================||---------------------------||========================*/


/*==========================||---------------------------||========================*/
/*==========================||         Container         ||========================*/
/*==========================||---------------------------||========================*/

@media (min-width: 1300px) {
    .container {
        max-width: 1200px;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1300px;
    }
}